/* 1950' : couleurs pastels + noir & blanc et rectangles arrondis */
body {
	margin: 0;
	padding: 0;
	background: #FFD;
	font-family: Tahoma, Serif;
}
body>div {
	padding: 40px;	
	background: white;
	margin: 0 auto;
	max-width: 900px;
	min-height: 600px;
}
nav, h1, nav>ul {
	margin-top: 0;
}
nav li {
	display: inline-block;
	padding: 10px;
	background: #FDD;
	margin: 0;
	border-radius: 5px;
}
nav a {
	text-decoration: none;
	color: #404;
}
h1 {
	margin: 40px;
}
.smallimage {
	margin: 5px;		
}
